*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgba(227, 238, 175, 0.918);
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.app-wrap{
    width: 80vh;
    margin: 100px auto;
    background-color: rgba(195, 196, 140, 0.6);
    padding: 20px;
    text-align: center;
}

.app-wrap>*{
    margin-bottom: 20px;
}

.search-box{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: none;
    color: #582233;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}

.search-box:focus{
    background-color: rgba(255,255,255);
}

main{
    color: #582233;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: rgba(167, 99, 54, 0.692);
    height: 50vh;
}

.location{
    font-weight: bold;
}

.current{
    padding: 20px;
}

.temp{
    font-size: 45pt;
    font-weight: 700;
    margin: 12px 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}